[submodule "bashmarks"]
	path = bashmarks
	url = https://github.com/huyng/bashmarks.git
[submodule "spark"]
	path = spark
	url = https://github.com/holman/spark.git
[submodule "spark-git"]
	path = spark-git
	url = https://github.com/holman/spark.git
